body {
	box-sizing: border-box;
	font-family: 'helvetica', sans-serif;
	text-align: center;
}

/*.board {
	display: block;
}*/

.card {
	margin: 20px;
	text-align: center;
	border: 3px solid pink;
	width: 220px;
}

.title {
	font-size: 2em;
}

.card-image {
	width: 180px;
	padding: 10px;
}

.list {
	background-color: grey;
	display: inline-block;
	margin: 20px;
}